@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body, html {
  font-family: "Roboto";
  height: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-size: 36px;
  line-height: 26px;
  font-weight: 400;
  color: #22222b;
  text-align: center;
  margin-bottom: 15px;
}

.subtitle {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #7f7f82;
  text-align: center;
}

body,
html {
  height: 100vh;
}

body {
  font-family: "Roboto";
  color: #22222b;
}

.text-center {
  text-align: center;
}

.main {
  background-image: url(../img/image_logo1.png);
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-top: 39px;
  padding-bottom: 42px;
  box-sizing: border-box;
}

.header {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header nav {
    display: none;
  }
}

.nav {
  display: flex;
  padding-left: 0;
  margin: 0;
}
.nav-item {
  margin-left: 23px;
}
.nav-item a {
  padding-bottom: 5px;
  color: #22222b;
  border-bottom: 1px solid transparent;
}
.nav-item a:hover {
  border-bottom: 1px solid #22222b;
  transition: 0.6s;
}

.title-h1 {
  font-size: 60px;
  text-align: center;
  font-weight: 300;
}
@media (max-width: 480px) {
  .title-h1 {
    font-size: 40px;
  }
}
.title-h1 strong {
  font-weight: 500;
  display: inline-block;
  position: relative;
}
.title-h1 strong:before {
  content: "";
  position: absolute;
  display: block;
  background-color: #3d3d52;
  width: 28px;
  height: 1px;
  left: -165px;
  top: -19px;
}
.title-h1 strong:after {
  content: "";
  position: absolute;
  display: block;
  background-color: #3d3d52;
  width: 1px;
  height: 20px;
  left: -165px;
  top: -19px;
}
@media (max-width: 768px) {
  .title-h1 strong:before, .title-h1 strong:after {
    display: none;
  }
}
.title-h1 span {
  font-weight: 500;
  display: inline-block;
  position: relative;
}
.title-h1 span:before {
  content: "";
  position: absolute;
  display: block;
  background-color: #3d3d52;
  width: 28px;
  height: 1px;
  left: 3px;
  top: 20px;
}
.title-h1 span:after {
  content: "";
  position: absolute;
  display: block;
  background-color: #3d3d52;
  width: 1px;
  height: 20px;
  left: 30px;
  top: 0px;
}
@media (max-width: 768px) {
  .title-h1 span {
    display: none;
  }
}

.title-h2 {
  font-size: 36px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 20px;
}

.after-title {
  font-size: 16px;
  color: #7f7f82;
}

.btn-scroll {
  background-color: none;
  display: block;
  margin: 0 auto;
}

.header {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  padding-left: 0;
  margin: 0;
}
.nav-item {
  margin-left: 15px;
}
.nav-item a {
  color: #22222b;
  border-bottom: 1px solid transparent;
  transition: 0.6s border-bottom;
}
.nav-item a:hover {
  border-bottom: 1px solid #22222b;
}

.btn-scroll {
  background-color: none;
  display: block;
  margin: 0 auto;
}

.about {
  padding: 200px 0;
}
@media (max-width: 768px) {
  .about {
    padding: 100px 0;
  }
}
.about__flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 1200px) {
  .about__flex {
    flex-direction: column;
    gap: 30px;
  }
}
.about__photos {
  display: flex;
  position: relative;
}
.about__photos p {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #22222b;
  margin-bottom: 50px;
}
.about__photos img {
  margin-left: 180px;
}
.about__photos p:before {
  position: absolute;
  content: "";
  display: block;
  width: 1px;
  height: 45px;
  background-color: #22222b;
  left: 10px;
  top: 110px;
}
.about__left {
  max-width: 530px;
  margin-left: 60px;
}
.about__fl {
  position: relative;
}
@media (max-width: 768px) {
  .about__fl img {
    max-width: 100%;
    margin-left: 0;
  }
}
.about__fl .this {
  position: absolute;
  z-index: -1;
  left: -210px;
  top: -108px;
  margin-right: 0;
  opacity: 0.7;
}
@media (max-width: 768px) {
  .about__fl .this {
    display: none;
  }
}
.about__title {
  font-size: 48px;
  line-height: 24px;
  font-weight: 500;
  color: #22222b;
  margin-bottom: 30px;
}
.about__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #7f7f82;
  margin-bottom: 50px;
}
.skills {
  position: relative;
}
.skills__flex {
  margin-bottom: 30px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.skills__flex:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #22222b;
  top: 0;
}
.skills__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #22222b;
  position: relative;
}
.skills__text:before {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../img/starting_pont_106.png");
  width: 6px;
  height: 11px;
  background-repeat: no-repeat;
  left: -5px;
  top: -19px;
}
.skills__percent {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #22222b;
}
.skills__ind {
  position: relative;
}
.skills__ind:after {
  position: absolute;
  content: "";
  display: block;
  width: 35%;
  height: 2px;
  background-color: #f3f3f3;
  top: 0;
  right: 0;
}
.skills__xd:after {
  position: absolute;
  content: "";
  display: block;
  width: 20%;
  height: 2px;
  background-color: #f3f3f3;
  top: 0;
  right: 0;
}

.services {
  background-color: #faf9fe;
  padding: 100px 0;
}
.services__subtitle {
  margin-bottom: 50px;
}
.services__grid {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  grid-gap: 45px;
}
@media (max-width: 1200px) {
  .services__grid {
    grid-template: repeat(3, 1fr)/repeat(2, 1fr);
    grid-gap: 22.5px;
  }
}
@media (max-width: 768px) {
  .services__grid {
    max-width: 350px;
    margin: 0 auto;
    grid-template: repeat(6, 1fr)/repeat(1, 1fr);
    grid-gap: 22.5px;
  }
}
@media (max-width: 500px) {
  .services__item {
    padding: 0 15px;
  }
}

.item img {
  margin-bottom: 30px;
}
.item__title {
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
  color: #22222b;
  margin-bottom: 10px;
}
.item__text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #7f7f82;
  margin-bottom: 15px;
}
.item__btn a {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: transparent;
  position: relative;
}
.item span {
  position: relative;
}
.item span:before {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 1px;
  background-color: #22222b;
  left: 0;
  top: 12px;
  transition: all 0.2s ease 0s;
}

.item:hover span:before {
  left: 75px;
}
.item:hover .item__btn a {
  color: #22222b;
  transition: all 0.3s ease 0.2s;
}

.first {
  max-width: 335px;
}

.second {
  max-width: 340px;
}

.port {
  overflow-x: hidden;
  padding: 100px 0;
}
.port__subtitle {
  margin-bottom: 50px;
}
.port__grid {
  display: grid;
  grid-template: repeat(2, 88px)/repeat(3, 1fr);
  grid-gap: 40px;
}
@media (max-width: 1200px) {
  .port__grid {
    grid-template: repeat(3, 88px)/repeat(2, 1fr);
    grid-gap: 40px;
  }
}
@media (max-width: 500px) {
  .port__grid {
    grid-template: repeat(7, 88px)/repeat(1, 1fr);
  }
}
.port__1 {
  grid-column: 1/2;
  grid-row: 1/4;
}
.port__2 {
  grid-column: 2/3;
  grid-row: 1/5;
}
.port .magic:hover .fir {
  color: #22222b;
  transition: all 0.2s ease-in-out 0.3s;
}
.port .magic:hover .sec {
  color: #22222b;
  transition: all 0.2s ease 0.3s;
}
.port .magic:hover:before {
  background-color: #ffffff;
  transition: all 0.2s ease 0.3s;
}
.port .magic:hover .thi:before {
  background-color: black;
  transition: all 0.2s ease 0.3s;
}
.port .magic:hover .thi:after {
  background-color: black;
  transition: all 0.2s ease 0.3s;
}
.port .magic {
  position: relative;
}
.port .magic .fir {
  position: absolute;
  top: 230px;
  left: 80px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: transparent;
}
.port .magic .sec {
  position: absolute;
  top: 260px;
  left: 160px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: transparent;
}
.port .magic:before {
  content: "";
  position: absolute;
  width: 313px;
  height: 404px;
  opacity: 0.6;
  left: 7%;
  top: 40%;
  background-color: transparent;
}
.port .thi {
  position: relative;
}
.port .thi:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  left: 170px;
  top: 200px;
  background-color: transparent;
}
.port .thi:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 20px;
  left: 180px;
  top: 190px;
  background-color: transparent;
}
.port__3 {
  grid-column: 3/4;
  grid-row: 1/4;
}
.port__4 {
  grid-column: 1/2;
  grid-row: 4/8;
}
.port__5 {
  grid-column: 2/3;
  grid-row: 5/8;
}
.port__6 {
  grid-column: 3/4;
  grid-row: 4/8;
}

@media (max-width: 1200px) {
  .port__grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  .port__grid img {
    max-width: 100%;
  }
}
.work {
  background-color: #22222b;
  padding: 50px 0;
}
.work__subtitle {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin-bottom: 15px;
}
.work__title {
  font-size: 48px;
  line-height: 32px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .work__title {
    font-size: 40px;
    line-height: 1.4;
  }
}
.work__btn {
  text-align: center;
}
.work__btn a {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #22222b;
  background-color: white;
  padding: 7px 40px;
  text-align: center;
  display: inline-block;
}

.test {
  padding: 100px 0;
}
.test__flex {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
@media (max-width: 992px) {
  .test__flex {
    flex-direction: column;
  }
}

.flex__item {
  flex: 0 0 48%;
  max-width: 48%;
}
@media (max-width: 992px) {
  .flex__item {
    flex: 1 0 100%;
    max-width: 100%;
  }
}
.flex__up {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 26px;
  font-weight: 400;
  color: #7f7f82;
  flex-wrap: nowrap;
}
@media (max-width: 900px) {
  .flex__up {
    flex-wrap: wrap;
  }
}
.flex__up p {
  margin-left: 20px;
}
.flex__up p:first-child {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #22222b;
}
.flex__down {
  max-width: 510px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  font-style: italic;
  color: #7f7f82;
  margin-left: 30px;
  position: relative;
  margin-top: 50px;
}
.flex__down img {
  position: absolute;
  display: block;
  opacity: 0.07;
  left: 0;
  top: -5px;
}

.icons {
  background-color: #faf9fe;
  padding: 50px 0;
}
.icons__flexx {
  display: grid;
  grid-template: 1fr/repeat(4, 1fr);
  justify-items: center;
}

@media (max-width: 776px) {
  .icons__flexx {
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  }
  .icons {
    padding: 25px 0;
  }
  .flexx__item {
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .icons__flexx {
    grid-template: repeat(4, 1fr)/repeat(1, 1fr);
  }
}
.flexx__center {
  margin-left: 40px;
}
.flexx__ab {
  width: 70px;
  height: 70px;
  background-color: #22222b;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 25px;
}
.flexx__heart {
  background-image: url("../img/heart.png");
}
.flexx__bag {
  background-image: url("../img/bag.png");
  margin-left: 10px;
}
.flexx__universe {
  background-image: url("../img/universe.png");
}
.flexx__cup {
  background-image: url("../img/cup.png");
  margin-left: -20px;
}
.flexx__item {
  position: relative;
}
.flexx__item img {
  background-color: #22222b;
  background-size: 70px 70px;
}
.flexx__num {
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
  color: #22222b;
  text-align: center;
  margin-bottom: 10px;
}
.flexx__text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  color: #22222b;
  text-align: center;
}

.form {
  padding: 50px 0;
}
.form__subtitle {
  margin-bottom: 50px;
}
.form__real {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  margin: 0 auto;
}
.form__name {
  text-align: center;
}
.form__email {
  text-align: center;
}
.form__text {
  text-align: center;
  height: 80px;
}
.form__btn {
  padding: 10px 100px;
  background-color: #22222b;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.input {
  padding-bottom: 7px;
  margin-bottom: 35px;
  border-bottom: 1px solid #e1e1e1;
}

.input:focus {
  transition: all 0.3s ease 0.1s;
  border-bottom: 2px solid #afafaf;
}

.footer {
  background-color: #22222b;
  padding: 20px 0;
}
.footer__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .footer__flex {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
.footer__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #ffffff;
}
@media (max-width: 600px) {
  .footer__text {
    font-size: 14px;
  }
}
.footer__text span {
  line-height: 26px;
  font-weight: 400;
}
.footer__links {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 900px) {
  .footer__links {
    flex-wrap: wrap;
  }
}
.footer__link {
  margin-left: 20px;
}
.footer__link a {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #ffffff;
}
.footer__link:first-child {
  margin-left: 0;
}/*# sourceMappingURL=style.css.map */